<a class="list-group-item list-group-item-action align-items-start">
    <div class="row">
        <div class="col-md-2">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Stop: {{vm.stopInfo.stop.id}}</h5>
            </div>
            <small class="text-muted">{{vm.stopInfo.stop.name}}.</small>

        </div>

        <div class="col-md-8" style="padding:10px">
            <h-timeline events="vm.events" event-click="vm.logClickEvent()" selected-index="vm.index"></h-timeline>
        </div>

        <div class="col-md-2" style="padding-top:7px">
            <small class="text-muted">On Time in</small>
            <div class="badge badge-success badge-pill" style="font-size: 165%;opacity: .65">{{vm.nextStopTime}}</div>
        </div>
    </div>
    <i class="navbar-toggler-icon"></i>
</a>

