<nav class="navbar navbar-toggleable-xs navbar-expand-sm navbar-light bg-faded">
    <a class="flex-sm-fill text-sm-center navbar-brand col" ui-sref="routes" href>
        Routes
    </a>
    <a class="flex-sm-fill text-sm-center navbar-brand col" ui-sref="stops" href>
        Stops
    </a>
    <a class="flex-sm-fill text-sm-center navbar-brand  col" ui-sref="map" href>
        <i class="fa fa-map" style="font-size:36px"></i>
    </a>
</nav>


<!--<nav class="navbar navbar-toggleable-xs navbar-expand-sm navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse row" id="navbarSupportedContent">
        <ul class="navbar-nav row col-md-12">
            <li class="nav-item active col">
                <a class="flex-sm-fill text-sm-center navbar-brand col" ui-sref="routes" href>
                    Routes
                </a>
            </li>
            <li class="nav-item col">
                <a class="flex-sm-fill text-sm-center navbar-brand col" ui-sref="stops" href>
                    Stops
                </a>
            </li>
            <li class="nav-item col">
                <a class="flex-sm-fill text-sm-center navbar-brand  col" ui-sref="map" href>
                    Map
                </a>
            </li>
            <li class="nav-item col">
                <a class="flex-sm-fill text-sm-center navbar-brand col" ui-sref="serviceOutages" href>
                    Service Outages
                </a>
            </li>
        </ul>
    </div>
</nav>-->