.timeline-container ol li a::before 
{
    z-index:4 !important;
}

.timeline-container ol li a.selected::before {
    height: 25px !important;
    width: 25px !important;
    background-color: cornflowerblue !important;
    opacity: .9 !important;
    border: 1px solid #383838 !important;
}

@media all and (max-width: 960px) {
    h1 {
        font-size: 30px !important;
    }
}

@media all and (max-width: 560px) {
    h1 {
        font-size: 20px !important;
    }
}

.timeline-container {
    margin-right: 17px !important;
}

.filling-line {
    z-index: 0 !important;
}
.timeline-container ol li a::before {
    top: 100% !important;
    width: 17px !important;
    height: 17px !important;
}

.timeline-container .line-container {
    position:relative !important;
}

.component-borders {
    border-style: solid;
    border-width: 1px;
    border-color: darkgrey;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 16px/1.5 "Helvetica Neue", sans-serif;
    background: #456990;
    color: #fff;
}

body {
    padding-top: 20px;
}

.defaultBackGroundColor {
    background-color: ghostwhite !important;
    opacity: 0.9;
}

.route1BackGroundColor {
    background-color: linen !important;
    opacity: 0.9;
}

.route2BackGroundColor {
    background-color: aliceblue !important;
    opacity: 0.9;
}

.route3BackGroundColor {
    background-color: mistyrose !important;
    opacity: 0.9;
}

.timeline-container ol:first-child li:first-child a::before {
    background-color: linen !important;
}

.timeline-container ol:last-child li:last-child a::before {
    background-color: aliceblue !important;
}
