<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Schaffner - No Fuss, Catch that Bus</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/lib/jquery.min.js"></script>
    <script src="~/lib/jquery-3.3.1.slim.min.js"></script>
    <script src="~/lib/popper.min.js"></script>
    <script src="~/lib/bootstrap.min.js"></script>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/angular.min.js"></script>
    <script src="~/lib/angular-ui-router.js"></script>
    <script src="~/lib/angular-resource.min.js"></script>
    <script src="~/lib/ng-horizontal-timeline.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/map/map.component.js"></script>
    <script src="~/app/routes/routes.component.js"></script>
    <script src="~/app/service-outages/service-outages.component.js"></script>
    <script src="~/app/main-nav-bar/main-navigator.component.js"></script>
    <script src="~/app/no-fuss-bus.component.js"></script>
    <script src="~/app/stops/stops-view.component.js"></script>
    <script src="~/app/routes/route-prediction-info.component.js"></script>
    <script src="~/app/stops/stop-info.component.js"></script>
    <script src="~/app/stops/stop-header.component.js"></script>
    <script src="~/app/stops/stops-list.component.js"></script>
    <script src="~/app/stops/stopsDataService.js"></script>
</head>
@RenderBody()
</html>
