<base href="/Schaffner-UI/"/>
<body data-ng-app="schaffner" style="margin:auto;max-width:1000px;padding-left:20px;padding-right:20px">
    <div class="row">
        <div class="col-md-12" style="padding:5px">
            <no-fuss-bus></no-fuss-bus>
        </div>
    </div>
</body>